/Point-of-Sale-System/nbproject/private/
/Point-of-Sale-System/build/
/Point-of-Sale-System/nbproject/
/Point-of-Sale-System/Point-of-Sale-System/build/
/Point-of-Sale-System/Point-of-Sale-System/nbproject/private/
/Point-of-Sale-System/dist/
